body {
  background-color: Orange;
}
img {
  text-align: center;
  height: 250px;
  width: 300px;
}
img2 {
  text-align: center;
  width: 150px;
  heigt: 250px;
}
P {
  color: yellow;
}
p2 {
  size: 500px;
}
